<div class="container">
  <h1>Cars Sales Application</h1>
  <div class="container">  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/carlist" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          </li>         
        </ul>   
      </div>
    </div>
    </nav>
    </div>

</div>

  <router-outlet></router-outlet>
